/.htaccess 
/tmp/*

# IDE & System Related Files #
.buildpath
.project
.settings
.DS_Store
.idea
.vscode

# Test Related Files #
/phpunit.xml

# Node modules #
node_modules/

# phpDocumentor Logs #
phpdoc-*

# Patch Tester # 

# Install from Web plugin #
/media/plg_installer_webinstaller
/plugins/installer/webinstaller
/vendor
/composer.lock


# OSX #
._*
.Spotlight-V100
.Trashes

# Windows #
Thumbs.db
Desktop.ini

# Never ignore #
# Only apply this rule to the main repository's gitignore files
!/.gitignore
!/build/.gitignore
!/tests/unit/suites/libraries/joomla/archive/.gitignore
!/tests/unit/tmp/.gitignore


# System Test related files
tests/codeception/acceptance.suite.yml
tests/codeception/_support/_generated/*TesterActions.php
tests/codeception/joomla-cms*
tests/codeception/_output*
selenium-server-standalone.jar
selenium.log
tests/codeception/cache
tests/codeception/_output
tests/codeception/vendor
composer.phar

# Build related
RoboFile.ini